@charset "UTF-8";

/* Typical Device Break Points
------------------------------
Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768.1px) {
    #container {
        width: 760px;
    }

    footer {
        height: 17%;
    }

    footer > p {
        font-size: .8em;
    }

    footer > h3 {
        font-size: 1em;
    }

    footer a {
        font-size: .6em;
    }
}